<!DOCTYPE html>
<html>
<head>
    <title>Service Request Success</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gas Utitlty Service</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="nav-link" href="/consumer/profile/">Dashboard</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/consumer/create_service_request/">Create Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/consumer/logout/">Logout</a>
        </li>
       </ul>
    </div>
  </div>
</nav>
    <h1>Service Request Submitted Successfully</h1>
    <p>Your service request has been submitted.</p>
</body>
</html>